.sidenav {
  color: white;
  height: 100%;
  width: 13vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1f2b3b;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 150px;
  border-top-right-radius: 70px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  display: block;
  margin: 15px;
  padding: 17px;
}

.sidenav a:first-child {
  margin-top: 60px;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #2c3f59;
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.RightSideNav {
  color: white;
  height: 100%;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1f2b3b;
  overflow-x: hidden;
  padding-top: 20px;
}

.RightSideNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.RightSideNav a:hover {
  color: #f1f1f1;
}

.UserImage {
  width: 80%;
  padding: 10%;
  margin-left: 10%;
  border-radius: 35% 10% 35% 10%;
}

.UserControlls {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Userbutton {
  width: 90px;
  height: 43px;
  margin: 7px;
  border: none;
  background: linear-gradient(to top right, #8162ce, #f54ba5);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
