* {
  font-family: "Open Sans", sans-serif;
}

body {
  overflow: hidden;
  background-color: #1a1a1d;
  color: #eaeff3;
}

a {
  text-decoration: none;
  color: #eaeff3;
  &:hover {
    color: #c5c6c7;
  }
}
